# Lab | Data Structuring and Combining Data

# Challenge 1: Combining Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the following links: 
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2_clean.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3_clean.csv

Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

Verify that the customer_data dataframe contains all the rows and columns from the three original dataframes.

## Alternative - Bonus

If in the previous lab you created your cleaning and formatting function, or if you want to do it now, instead of using the two clean files provided above, you can use your function to clean and format the data in these two raw files, and work with your clean files instead:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Observation: 
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [10]:
import pandas as pd # Your code goes here
import match_fix as mafi
import cleaners
import difflib

file1=pd.read_csv("file1.txt")
file2=pd.read_csv("file2_clean.txt")
file3=pd.read_csv("file3_clean.txt")
display(file1.shape, file2.shape, file3.shape)
display(file2.head(), file3.head())

(4008, 11)

(12074, 11)

(12074, 11)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [11]:
#appand data vertically
data = pd.concat([file1, file2, file3], axis=0)
display(data.shape, data.head())

import difflib
import cleaners

state_mapping = {
        'Alabama': 'AL',
        'Alaska': 'AK',
        'Arizona': 'AZ',
        'Arkansas': 'AR',
        'California': 'CA',
        'Colorado': 'CO',
        'Connecticut': 'CT',
        'Delaware': 'DE',
        'Florida': 'FL',
        'Georgia': 'GA',
        'Hawaii': 'HI',
        'Idaho': 'ID',
        'Illinois': 'IL',
        'Indiana': 'IN',
        'Iowa': 'IA',
        'Kansas': 'KS',
        'Kentucky': 'KY',
        'Louisiana': 'LA',
        'Maine': 'ME',
        'Maryland': 'MD',
        'Massachusetts': 'MA',
        'Michigan': 'MI',
        'Minnesota': 'MN',
        'Mississippi': 'MS',
        'Missouri': 'MO',
        'Montana': 'MT',
        'Nebraska': 'NE',
        'Nevada': 'NV',
        'New Hampshire': 'NH',
        'New Jersey': 'NJ',
        'New Mexico': 'NM',
        'New York': 'NY',
        'North Carolina': 'NC',
        'North Dakota': 'ND',
        'Ohio': 'OH',
        'Oklahoma': 'OK',
        'Oregon': 'OR',
        'Pennsylvania': 'PA',
        'Rhode Island': 'RI',
        'South Carolina': 'SC',
        'South Dakota': 'SD',
        'Tennessee': 'TN',
        'Texas': 'TX',
        'Utah': 'UT',
        'Vermont': 'VT',
        'Virginia': 'VA',
        'Washington': 'WA',
        'West Virginia': 'WV',
        'Wisconsin': 'WI',
        'Wyoming': 'WY'
}

threshold= 0.75     # Treshold for the match ratio

mappings = {
    "education": {"Bachelors": "Bachelor", "High School": "High School", "Doctorate": "Doctorate"},
    "customer_lifetime_value": {"%": ""},
    "vehicle_class": {"Sports Car": "Luxury", "Luxury SUV": "Luxury", "Luxury Car": "Luxury"}
}

(28156, 11)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [18]:
#drop by "Customer"
df=cleaners.drop_null_by_column(data, ["Customer","Customer Lifetime Value"])
df.shape

Warning: Column 'Customer' not found in the DataFrame.
Warning: Column 'Customer Lifetime Value' not found in the DataFrame.

(8211, 11)

In [19]:
#here we standardize column names
df=cleaners.cols_names(df, "st","state") 
df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1,QZ44356,AZ,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,NV,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,CA,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,WA,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,OR,F,Bachelor,825629.78,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042

In [14]:
#States + genders
#import importlib
#importlib.reload(cleaners)
df=cleaners.genders(df)
df=cleaners.fix_abbreviations(df, state_mapping, "state", 0.7)
df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1,QZ44356,AZ,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,NV,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,CA,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,WA,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,OR,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042

In [15]:
#standardize values for education, cars...
df=cleaners.standardize_column_values(df, mappings)
df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1,QZ44356,AZ,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,NV,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,CA,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,WA,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,OR,F,Bachelor,825629.78,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042

In [16]:
#duplicates dealing
duplicate_rows = df[df.duplicated()]

# Display the duplicate rows
print(duplicate_rows)
df.drop_duplicates(subset=['customer_lifetime_value'],keep='first', inplace=True)
display(df.shape, df.head())

duplicate_rows = df[df.duplicated()]

# Display the duplicate rows
print(duplicate_rows)

      customer state gender             education customer_lifetime_value  \
1      QZ44356    AZ      F              Bachelor               697953.59
2      AI49188    NV      F              Bachelor              1288743.17
3      WW63253    CA      M              Bachelor               764586.18
4      GA49547    WA      M  High School or Below               536307.65
5      OC83172    OR      F              Bachelor               825629.78
...        ...   ...    ...                   ...                     ...
12069  LA72316    CA      M              Bachelor             23405.98798
12070  PK87824    CA      F               College             3096.511217
12071  TD14365    CA      M              Bachelor             8163.890428
12072  UP19263    CA      M               College             7524.442436
12073  Y167826    CA      M               College             2611.836866

        income  monthly_premium_auto number_of_open_complaints  \
1          0.0                  94.0                    1/0/00
2      48767.0                 108.0                    1/0/00
3          0.0                 106.0                    1/0/00
4      36357.0                  68.0                    1/0/00
5      62902.0                  69.0                    1/0/00
...        ...                   ...                       ...
12069  71941.0                  73.0                         0
12070  21604.0                  79.0                         0
12071      0.0                  85.0                         3
12072  21941.0                  96.0                         0
12073      0.0                  77.0                         0

          policy_type  vehicle_class  total_claim_amount
1       Personal Auto  Four-Door Car         1131.464935
2       Personal Auto   Two-Door Car          566.472247
3      Corporate Auto            SUV          529.881344
4       Personal Auto  Four-Door Car           17.269323
5       Personal Auto   Two-Door Car          159.383042
...               ...            ...                 ...
12069   Personal Auto  Four-Door Car          198.234764
12070  Corporate Auto  Four-Door Car          379.200000
12071  Corporate Auto  Four-Door Car          790.784983
12072   Personal Auto  Four-Door Car          691.200000
12073  Corporate Auto   Two-Door Car          369.600000

[10201 rows x 11 columns]

(8211, 11)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1,QZ44356,AZ,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,NV,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,CA,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,WA,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,OR,F,Bachelor,825629.78,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042

Empty DataFrame
Columns: [customer, state, gender, education, customer_lifetime_value, income, monthly_premium_auto, number_of_open_complaints, policy_type, vehicle_class, total_claim_amount]
Index: []

In [17]:
#fix policies
import numpy as np

df=df.dropna(subset=['customer_lifetime_value'])
#df=df.dropna(subset=['number_of_open_complaints'])
df['customer_lifetime_value'] = df['customer_lifetime_value'].astype('float')

# Convert number_of_open_complaints to string and fill NaN with "0/0/0"
df['number_of_open_complaints'] = df['number_of_open_complaints'].astype(str)
df['number_of_open_complaints'].fillna("0/0/0", inplace=True)

# Extract the middle value from the "number_of_open_complaints" column
df['number_of_open_complaints'] = df['number_of_open_complaints'].str.split('/').str[1]

# Convert the middle value to integers, treating "NaN" as 0
df['number_of_open_complaints'] = pd.to_numeric(data['number_of_open_complaints'], errors='coerce').fillna(0).astype(int)
# Convert the middle value to numeric (float), treating "NaN" as NaN
df['number_of_open_complaints'] = pd.to_numeric(data['number_of_open_complaints'], errors='coerce')

# Convert the numeric values to integers, treating NaN as 0
df['number_of_open_complaints'] = df['number_of_open_complaints'].fillna(0).astype(int)

# Convert the middle value to integer, treating "NaN" as 0
#data['number_of_open_complaints'] = data['number_of_open_complaints'].apply(lambda x: int(x) if x.isdigit() else 0)

display(df)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1,QZ44356,AZ,F,Bachelor,6.979536e+05,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,NV,F,Bachelor,1.288743e+06,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,CA,M,Bachelor,7.645862e+05,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,WA,M,High School or Below,5.363077e+05,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
5,OC83172,OR,F,Bachelor,8.256298e+05,62902.0,69.0,0,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
12068,YM19146,CA,F,College,4.100399e+03,47761.0,104.0,0,Personal Auto,Four-Door Car,541.282007
12069,LA72316,CA,M,Bachelor,2.340599e+04,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12071,TD14365,CA,M,Bachelor,8.163890e+03,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,UP19263,CA,M,College,7.524442e+03,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,Y167826,CA,M,College,2.611837e+03,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [9]:
# Your code goes here
data2=pd.read_csv("marketing_customer_analysis_clean.txt")
display(data2.shape, data2.head())

(10910, 27)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [93]:
data2.groupby("sales_channel").agg({"total_claim_amount":"sum"})
#

               total_claim_amount
sales_channel
Agent                1.810227e+06
Branch               1.301204e+06
Call Center          9.266008e+05
Web                  7.066000e+05

In [94]:
data2.groupby(["state", "sales_channel"])["total_claim_amount"].sum()

state       sales_channel
Arizona     Agent            313821.002671
            Branch           212617.643141
            Call Center      174701.727679
            Web              116898.280690
California  Agent            695301.079704
            Branch           519102.938061
            Call Center      352482.843214
            Web              263243.284954
Nevada      Agent            170287.103256
            Branch           113574.255983
            Call Center       89626.192161
            Web               66632.416313
Oregon      Agent            480340.956245
            Branch           338416.743784
            Call Center      237975.711396
            Web              205822.550267
Washington  Agent            150476.677226
            Branch           117492.414579
            Call Center       71814.345526
            Web               54003.510208
Name: total_claim_amount, dtype: float64

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [97]:
pivot = data2.pivot_table(
    values='customer_lifetime_value',
    index=['gender', 'education'],
    aggfunc="mean"
)

print(pivot)

                             customer_lifetime_value
gender education
F      Bachelor                          7874.269478
       College                           7748.823325
       Doctor                            7328.508916
       High School or Below              8675.220201
       Master                            8157.053154
M      Bachelor                          7703.601675
       College                           8052.459288
       Doctor                            7415.333638
       High School or Below              8149.687783
       Master                            8168.832659

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here